@charset "UTF-8";
html {
  font-size: 62.5%;
}

body{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

p {
  line-height: normal;
  font-size: 1.5rem;
}

h2{
  font-size: 5rem;
  color: blue;
}
